<h1>Cadastrando Galpão</h1>

<%= form_with(model: @warehouse) do |form| %>
	<div>
		<%= form.label :name, 'Nome'%>
		<%= form.text_field :name%>
	</div>
	<div>
		<%= form.label :code, 'Código'%>
		<%= form.text_field :code%>
	</div>
	<div>
		<%= form.label :city, 'Cidade'%>
		<%= form.text_field :city%>
	<div>
		<%= form.label :area, 'Área'%>
		<%= form.text_field :area%>
	</div>
	<div>
		<%= form.label :address, 'Endereço'%>
		<%= form.text_field :address%>
	</div>
	<div>
		<%= form.label :cep, 'Cep'%>
		<%= form.number_field :cep%>
	</div>
	<div>
		<%= form.label :description, 'Descrição'%>
		<%= form.text_area :description%>
	</div>
	<div>
		<%= form.submit 'Salvar'%>
	</div>
<% end %>