<h1>Galpão <%= @warehouse.code%></h1>

<h2>Nome: <%= @warehouse.name%></h2>
<h2>Cidade: <%= @warehouse.city%></h2>
<h2>Área: <%= @warehouse.area%> m²</h2>
<h2>Endereço: <%= @warehouse.address%>, CEP: <%= @warehouse.cep%></h2>
<h2><%= @warehouse.description%></h2>



