<h1>Galpão <%= @warehouse.code%></h1>

<section>
  <div>
    <dl>
      <dt>Nome:</dt>
      <dd><%= @warehouse.name%></dd>
      <dt>Código:</dt>
      <dd><%= @warehouse.code%></dd>
      <dt>Cidade:</dt>
      <dd><%= @warehouse.city%></dd>
      <dt>Área:</dt>
      <dd><%= @warehouse.area%> m²</dd>
      <dt>Endereço: </dt>
      <dd><%= @warehouse.address%>, CEP: <%= @warehouse.cep%></dd>
      <h2><%= @warehouse.description%></h2>
    </dl>
  </div>
</section>
<%= link_to('Voltar', root_path)%>

